@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
html {
    background-color: #999999;
    color: #080808;
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    font-size: 1.2em;
    font-weight: bold;
}
nav {
  background-color: #333;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}
#custom404body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  text-align: center;
}
#custom404h1 {
  font-size: 36px;
  color: #333;
  margin-top: 100px;
}
#custom404p {
  font-size: 24px;
  color: #666;
  margin-top: 20px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #2b1d1d;
}
#login{
    float: right;
}
#logo {
    float: left;
    width: 250px   
}
@keyframes flash {
  0%, 100% {
      opacity: 0;
      visibility: hidden;
  }
  5%, 95% {
      opacity: 1;
      visibility: visible;
  }
}

#flash_block {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #f2f2f2;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  visibility: hidden;
  animation: flash 10s linear;
}



#login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}
#change_pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}
#user_dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}

#user_dashboard .table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #d0d0d0;
}

#signup_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  width: 100%;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"],
input[type="file"] {

  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

}

input[type="submit"] {

  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}

.user-info p {
  margin: 5px 0;
}

/* Optional styles to center the user info vertically */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
iframe {
  width: 500px;
  height: 500px;
}
#users_panel {
  /* Updated CSS for User Panel */
  display: flex;
  flex-direction: column;
  width: 15%;
}

#users_panel > div {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

#users_panel h2 {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 10px;
}

#users_panel ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#users_panel li {
  margin-bottom: 5px;
}

#users_panel h3 {
  margin-top: 0;
  margin-bottom: 10px;
}
.course-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
  max-height: 500px; /* Set a maximum height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
}

#course-loop {
  display: flex;
  align-items: flex-start; /* Align items to the top */
 
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#course-loop:last-child {
  border-bottom: none;
}

.edit-button {
  font-size: 1.1em;
  display: inline-block;
  background-color: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none; 
  cursor: pointer; 
  margin: 3px;
  
}
.edit-button a{
  text-decoration: none;
  color: #ffffff;
}

.edit-button:hover {
  background-color: #2980b9;
  cursor: pointer;
}

.course-text {
  padding-right: 10px;
}

.delete-button {
  font-size: 1.1em;
  display: inline-block;
  background-color: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  border: none; 
  cursor: pointer; 
  margin: 3px;
  text-decoration: none;
}

.delete-button:hover {
  background-color: #2980b9;
  cursor: pointer;
}
.delete-button a{
  text-decoration: none;
  color: #ffffff;
}
.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 60%;
  padding: 20px;
  margin: 20px auto;
}

#search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 2px #636363;
  width: 90%;
}

#search form {
  display: flex;
  align-items: center;
}

#search input[type="text"] {
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#search button {
  background-color: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#search button:hover {
  background-color: #2980b9;
}

#search button a {
  color: #ffffff;
  text-decoration: none;
}

#search button a:hover {
  color: #ffffff;
}


input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

#manage-domains {
  display: block;
  text-align: center;
  margin: 10px auto;
}
#edit-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}
#table-container {
  max-height: 400px; 
  overflow-y: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}

#elements_table {
  width: 100%;
  border-collapse: collapse;
}

#elements_table th, #elements_table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#elements_table th {
  background-color: #f2f2f2;
}

#elements_table tr:nth-child(even) {
  background-color: #f9f9f9;
}
#competency_table {
  width: 100%;
  border-collapse: collapse;
}

#competency_table th, #competency_table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#competency_table th {
  background-color: #f2f2f2;
}

#competency_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

#content_form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px #636363;
  border-radius: 5px;
  width: 40%;
  padding: 20px;
  margin: 0 auto;
}
#content_form h4 {
  margin: 5px 0;
}
#content_form table {
  margin: 10px 0;
  border-collapse: collapse;
  width: 100%;
}

#content_form table th, #content_form table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

#content_form table th {
  background-color: #f2f2f2;
}

#content_form .buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#content_form .buttons button {
  margin: 10px 0;
  padding: 10px;
  background-color: #636363;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#content_form .buttons button a {
  color: #ffffff;
  text-decoration: none;
}

#content_form .buttons button:hover {
  background-color: #808080;
}
