{% extends 'base.html' %}
{% block content %}
<div id="signup_form">
    <h1>Add A User</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ form.name.label}} {{ form.name() }}
        {{ form.email.label}}{{ form.email() }}
        {{ form.password.label}}{{ form.password() }}
        {{ form.avatar.label}}{{ form.avatar() }}
        <input type="submit" />
    </form>
</div>
{% endblock %}