<!DOCTYPE html>
<html>
  <head>
    <title>Course Manager</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <nav>
      <img src="{{ url_for('static', filename='logo.png') }}" id="logo">
      <ul>
        <li><a href="{{ url_for('home_view.index') }}">Home</a></li>
        
        <li><a href="{{ url_for('courses.get_courses') }}">Courses</a></li>
        <li><a href="{{ url_for('elements.get_elements') }}">Elements</a></li>
        <li><a href="{{ url_for('competencies.get_competencies') }}">Competencies</a></li>
        <div id="login">
        {% if not current_user.is_authenticated %}
          <li><a href="{{url_for('auth.signup')}}">Signup</a></li>
          <li><a href="{{url_for('auth.login')}}">Login</a></li>
        {% endif %}
        {% if current_user.is_authenticated %}
          {% if current_user.user_group == 'admin_user_gp' or current_user.user_group == 'admin_gp'%}
            <li><a href="{{ url_for('admin.dashboard') }}">Admin Dash</a></li>
          {% endif %}
          <li><a href="{{url_for('auth.profile', email=current_user.email)}}">{{current_user.name}}</a></li>
          <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
        {% endif %}
        </div>
      </ul>
    </nav>
    
    {% block content %}{% endblock %}

    <div id="flash_block">
      {%block error%}
        <h3>Messages:</h3> 
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul class=flashes>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        {% endblock %}
      </div> 
    
    {%block script%}
      <script src="{{ url_for('static', filename='script.js') }}"></script>
    {%endblock%}
  </body>
</html>
