{% extends "base.html" %}

{% block content %}
  <div id="change_pass">
    <h1>Change Password</h1>
    <form method="POST" action="{{ url_for('auth.change_pass') }}">
      {{ form.csrf_token }}
      {{ form.old_password.label }} {{ form.old_password }}
      {{ form.new_password.label }} {{ form.new_password }}
      {{ form.confirm_password.label }} {{ form.confirm_password }}
      <input type="submit" value="Change Password">
    </form>
  </div>
{% endblock %}
