{% extends 'base.html' %}
{% block content %}
<div id="table-container">
    <div id="search">
        <form method="get">
            <input type="text" name="search_word" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <h1>All Competencies:</h1>
    <table id="competency_table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Achievement</th>
            <th>Type</th>
            {% if current_user.is_authenticated%}
            <th>Edit</th>
            <th>Delete</th>
            {% endif %}
        </tr>
        {% for competency in competencies %}
        <tr>
            <td><a href="{{ url_for('competencies.get_competency',competency_id=competency.id) }}">{{competency.id}}</a></td>
            <td>{{competency.competency_name}}</td>
            <td>{{competency.competency_achievement}}</td>
            <td>{{competency.competency_type}}</td>
            {% if current_user.is_authenticated%}
            <td>
                <button class="edit-button"><a href="{{ url_for('competencies.edit_competency', competency_id=competency.id) }}">Edit</a></button>
            </td>
            <td>
                <button class="delete-button"><a href="{{ url_for('competencies.delete_competency', competency_id=competency.id) }}">Delete</a></button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% if current_user.is_authenticated%}
<section class="add-form">
    <h1>Create a New Competency</h1>
    <form method="post">
        {{form.csrf_token}}
        {{ form.competency_id.label }} {{ form.competency_id() }}
        {% if form.competency_id.errors %}
            {% for error in form.competency_id.errors %}
                <p id="form_error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {{ form.competency_name.label }} {{ form.competency_name() }}
        {{ form.competency_achievement.label }} {{ form.competency_achievement() }}
        {{ form.competency_type.label }} {{ form.competency_type() }}
        <input type="submit"/>
    </form>
</section>
{% endif %}
{% endblock %}
