{% extends 'base.html' %}
{% block content %}
<h1>Elements for {{ course.course_title|safe }} </h1>
<h2>Elements: </h2>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Criteria</th>
        <th>Competency ID</th>
    </tr>
    {% if elements%}
        {% for element in elements %}
        <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.element_name }}</td>
            <td>{{ element.element_criteria }}</td>
            <td><a href="{{ url_for('competencies.get_competency', competency_id=element.competency.id) }}">{{ element.competency.id }}</a></td>
        </tr>
        {% endfor %}
    {% else %}
        <h1>No Elements for This Course</h1>
    {% endif %}
</table>
<section class="add-form">
    <h1>Add an Element</h1>
    <form method="post">
        {{form.csrf_token}}
        {{ form.element_order.label }} {{ form.element_order() }}
        {{ form.element_name.label }} {{ form.element_name() }}
        {{ form.element_criteria.label }} {{ form.element_criteria() }}
        {{ form.competency_id.label }} {{ form.competency_id() }}
        <input type="submit"/>
    </form>
    <h2>Choose from Existing Element: </h2>
    <form method="post" id="drop_down">
        {{drop_down_form.csrf_token}}
        {{ drop_down_form.element_id() }}
        <input type="submit" name="submit_drop_down_form"/>
    </form>
</section>
<button><a href="{{ url_for('elements.get_elements', course_id=course.id) }}">Manage Elements</a></button>
{% endblock %}