{% extends 'base.html' %}
{% block content %}

<div id="table-container">
    {% if prev_page %}
    <button><a href="{{prev_page_url}}">Prev</a></button>
    {% endif %}
    {% if next_page %}
    <button><a href="{{next_page_url}}">Next</a></button>
    {% endif %}
    <div id="search">
        <form method="get">
            <input type="text" name="search_word" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <table>
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        {% for course in courses %}
        <tr>
            <td><a href="{{ url_for('courses.get_course', course_id=course.id) }}">{{ course.id|safe }}</a></td>
            <td>{{ course.course_title|safe }}</td>
            <td>
                <form method="post" action="{{ url_for('courses.get_courses') }}">
                    {{ form.csrf_token }}
                    <input type="hidden" name="delete_course" value="{{ course.id }}">
                <button type="submit" class="delete-button">Delete</button>
                </form>
            </td>
            <td><button class="edit-button"><a href="{{ url_for('courses.edit_course', course_id=course.id) }}">Edit</a></button></td>
        </tr>
        {% endfor %}
    </table>
</div>


{% if current_user.is_authenticated %}
<section class="add-form">
    <h3>CREATE A NEW COURSE</h3>
        <form method="post">
            {{ form.csrf_token }}
            {{ form.id.label }} {{ form.id() }}
            {{ form.course_title.label }} {{ form.course_title() }}
            {{ form.theory_hours.label }} {{ form.theory_hours() }}
            {{ form.lab_hours.label }} {{ form.lab_hours() }}
            {{ form.work_hours.label }} {{ form.work_hours() }}
            {{ form.description.label }} {{ form.description() }}
            {{ form.domain.label }} {{ form.domain() }}
            {{ form.term.label }} {{ form.term() }}
            <input type="submit" />
        </form>
</section>
{% endif %}
{% endblock %}
