{% extends 'base.html' %}
{% block content %}
<h1>Add a Competency:</h1>
<form method="post">
    {{form.csrf_token}}
    {{ form.competency_id.label }} {{ form.competency_id() }}

    {% if form.competency_id.errors %}
        {% for error in form.competency_id.errors %}
            <p id="form_error">{{ error }}</p>
        {% endfor %}
    {% endif %}

    {{ form.competency_name.label }} {{ form.competency_name() }}
    {{ form.competency_achievement.label }} {{ form.competency_achievement() }}
    {{ form.competency_type.label }} {{ form.competency_type() }}
    <input type="submit"/>
</form>


{% endblock %}