{% extends 'base.html' %}
{% block content %}
<h1>Add an Element</h1>
<form method="post">
    {{form.csrf_token}}
    {{ form.element_order.label }} {{ form.element_order() }}
    {{ form.element_name.label }} {{ form.element_name() }}
    {{ form.element_criteria.label }} {{ form.element_criteria() }}
    {{ form.competency_id.label }} {{ form.competency_id() }}
    <input type="submit"/>
</form>
{% endblock %}