<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>404 Error</title>
        <!-- Style is done in file because not sure on how to link css with -->

    </head>
    <body id="custom404body">
        <h1 id="custom404h1">Oops! 404 Error</h1>
        <p id="custom404p">The page you requested could not be found.</p>
    </body>
</html>