{% extends 'base.html' %}

{% block content %}
<div id="user_dashboard">
    <h1>User Dashboard</h1>    
    <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.user_group}} </td>
            <td>
              <a href="{{ url_for('admin.edit_other_profile', user_email=user.email) }}">Edit</a>
              <a href="{{ url_for('admin.delete_user', user_email=user.email) }}">Delete</a>
              {% if user.is_blocked == 0 %}
              <a href="{{ url_for('admin.block_user', user_email=user.email) }}">Block</a>
              {% elif user.is_blocked == 1 %}
              <a href="{{ url_for('admin.unblock_user', user_email=user.email) }}">Unblock</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <a href="{{ url_for('admin.add_user') }}">Add User</a>
  </div>
{% endblock %}
