{% extends 'base.html' %}
{% block content %}
<div class="course-list">
  <ul>
    {% for domain in domains %}
      <li id="course-loop">
        <span class="course-text">{{ domain|safe }}</span>
        <form method="post" action="{{ url_for('domains.get_domains') }}">
          {{ form.csrf_token }}
          {% if current_user.is_authenticated %}
          <input type="hidden" name="delete_domain" value="{{ domain.domain_id }}">
          <button class="delete-button" type="submit">Delete</button>
        </form>
        <button class="edit-button"> <a  href="{{ url_for('domains.edit_domain', domain_id=domain.domain_id) }}">Edit</a></button>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% if current_user.is_authenticated %}
<div class="add-form">
  <h3>CREATE A NEW DOMAIN</h3>
  <form method="post">
    {{ form.csrf_token }}
    <div>
      <label class="course-form-label">{{ form.domain_name.label }}</label> {{ form.domain_name() }}
    </div>
    <div>
      <label class="course-form-label">{{ form.domain_description.label }}</label> {{ form.domain_description() }}
    </div>
    <input type="submit" />
  </form>
</div>
{% endif %}
{% endblock %}
