{% extends 'base.html'%}
{% block content %}
<h1>You Chose to Edit:</h1>
<h3>{{ example|safe }}</h3>
<form  method="post" action="{{ url_for('domains.edit_domain', domain_id=example.domain_id) }}">
    {{ form.csrf_token }}
    {{ form.domain_name.label }} {{ form.domain_name(value=example.domain_name) }}
    {{ form.domain_description.label }} {{ form.domain_description(value=example.domain_description) }}
    <button type="submit">Save</button>
</form>
{% endblock %}