{% extends "base.html" %}

{% block content %}
  <div id="change_pass">
    <h1>Edit Profile</h1>
  
    <form method="POST" action="{{ url_for('auth.edit_profile') }}" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ form.name.label }}{{ form.name }}
      {{ form.email.label }}{{ form.email }}
      
      {{ form.avatar.label }}{{ form.avatar }}
      <input type="submit" value="Update Profile">
    </form>
  </div>
{% endblock %}
