{% extends 'base.html' %}
{% block content %}
<div class="add-form">
  <h1>You Chose to Edit:</h1>
  <h3>{{ example|safe }}</h3>
  <div id="edit-field">
    <form method="post" action="{{ url_for('courses.edit_course', course_id=example.id) }}">
      {{ form.csrf_token }}
      <label class="course-form-label">{{ form.id.label }}</label> {{ form.id(value=example.id) }}
      <label class="course-form-label">{{ form.course_title.label }}</label> {{ form.course_title(value=example.course_title) }}
      <label class="course-form-label">{{ form.theory_hours.label }}</label> {{ form.theory_hours(value=example.theory_hours) }}
      <label class="course-form-label">{{ form.lab_hours.label }}</label> {{ form.lab_hours(value=example.lab_hours) }}
      <label class="course-form-label">{{ form.work_hours.label }}</label> {{ form.work_hours(value=example.work_hours) }}
      <label class="course-form-label">{{ form.description.label }}</label> {{ form.description(value=example.description) }}
      <label class="course-form-label">{{ form.domain.label }}</label> {{ form.domain(value=example.domain) }}
      <label class="course-form-label">{{ form.term.label }}</label> {{ form.term(value=example.term) }}
      <button class="delete-button" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
