{% extends 'base.html' %}
{% block content %}
<div class="add-form">
<h1>Edit Competency:</h1>
<form method="post">
    {{form.csrf_token}}
    <h3>Editing {{competency_id}}</h3>
    {{ form.competency_name.label }} {{ form.competency_name() }}
    {{ form.competency_achievement.label }} {{ form.competency_achievement() }}
    {{ form.competency_type.label }} {{ form.competency_type() }}
    <input type="submit"/>
</form>
</div>
{% endblock %} 