{% extends "base.html" %}

{% block content %}
  <div id="change_pass">
    <h1>Edit Profile</h1>
  
    <form method="POST" action="{{ url_for('admin.edit_other_profile', user_email=user_email) }}" enctype="multipart/form-data">
      {{ form.csrf_token }}
      {{ form.name.label }}{{ form.name }}
      {{ form.email.label }}{{ form.email }}
      {% if current_user.user_group == 'admin_gp' %}
        {{ form.groups.label }}{{ form.groups }}
      {% endif %} 
      {{ form.avatar.label }}{{ form.avatar }}
      <input type="submit" value="Update Profile">
    </form>
  </div>
{% endblock %}
