{% extends 'base.html' %}
{% block content %}
<div class="add-form">
<h1>Edit Element: {{element_id}}</h1>
<form method="post">
    {{form.csrf_token}}
    {{ form.element_name.label }} {{ form.element_name(value=elem_to_edit.element_name) }}
    {{ form.element_order.label }} {{ form.element_order(value=elem_to_edit.element_order) }}
    {{ form.element_criteria.label }} {{ form.element_criteria(value=elem_to_edit.element_criteria) }}
    {{ form.competency_id.label }} {{ form.competency_id() }}
    <input type="submit"/>
</form>
</div>
{% endblock %} 
