{% extends 'base.html' %}
{% block content %}
<div id="table-container">
    <div id="search">
        <form method="get">
            <input type="text" name="search_word" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
    </div>
    <h1>All Elements:</h1>
    <table id="elements_table">
        <tr>
            <th>Id</th>
            <th>Order</th>
            <th>Name</th>
            <th>Criteria</th>
            <th>Competency Id</th>
            {% if current_user.is_authenticated %}
            <th>Edit</th>
            <th>Delete</th>
            {% endif %}
        </tr>
        {% for element in elements %}
        <tr>
            <td>{{element.id}}</td>
            <td>{{element.element_order}}</td>
            <td>{{element.element_name}}</td>
            <td>{{element.element_criteria}}</td>
            <td>{{element.competency.id}}</td>
            {% if current_user.is_authenticated %}
            <td>
                <button class="edit-button"><a href="{{url_for('elements.edit_element', element_id=element.id)}}">Edit</a></button>
            </td>
            <td>
                <button class="delete-button"><a href="{{url_for('elements.delete_element', element_id=element.id)}}">Delete</a></button>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% if current_user.is_authenticated %}
<section class="add-form">
<h1>Add an Element</h1>
<form method="post">
    {{form.csrf_token}}
    {{ form.element_order.label }} {{ form.element_order() }}
    {{ form.element_name.label }} {{ form.element_name() }}
    {{ form.element_criteria.label }} {{ form.element_criteria() }}
    {{ form.competency_id.label }} {{ form.competency_id() }}
    <input type="submit"/>
</form>
</section>
{% endif %}
{% endblock %}
