{% extends 'base.html' %}
{% block content %}
<h1>Home</h1>
{%if current_user.is_authenticated%}
<h2>Welcome {{current_user.name}}</h2>
<div id="users_panel">
  <div id="Members">
    <h2>Members</h2>
    <ul>
      {% if members %}
        {% for member in members %}
          <li>{{ member.name }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>
  {% if current_user.user_group == 'admin_gp' %}
    <div id="Admins_Users">
      <h2>Admin Users</h2>
      <ul>
        {% if admin_users %}
          {% for au in admin_users %}
            <li>{{ au.name }}</li>
          {% endfor %}
        {% else %}
          <li>No Admin Users</li>
        {% endif %}
      </ul>
    </div>
    <div id="Admin">
      <h2>Administrator</h2>
      <ul>
        {% if admins %}
          {% for ad in admins %}
            <li>{{ ad.name }}</li>
          {% endfor %}
        {% endif %}
      </ul>
    </div>
  {% endif %}  
  {%else%}
  <h2>Welcome Guest</h2>
  <h3>Please login or register to have access to more features</h3>
  {%endif%}
</div>

{% endblock %} 