{% extends 'base.html' %}
{% block content %}
<div id="login_form">
    <h1>Login</h1>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.email.label}} {{ form.email() }}
        {{ form.password.label}}{{ form.password() }}
        {{ form.remember_me.label}}{{ form.remember_me() }}
        <input type="submit" />
    </form>
</div>
{% endblock %}