{% extends 'base.html' %}
{% block content %}
<div id="content_form">
    <h1>Course ID: {{ course.id|safe }}</h1>
    <h4>Title: {{ course.course_title }}</h4>
    <h4>Theory Hours: {{ course.theory_hours }}</h4>
    <h4>Lab Hours: {{ course.lab_hours }}</h4>
    <h4>Work Hours: {{ course.work_hours }}</h4>
    <h4>Description: {{ course.description }}</h4>
    <h3>Domain Info:</h3>
    <h4>Name: {{ course.domain.domain_name }}</h4>
    <h4>Desc: {{ course.domain.domain_description }}</h4>
    <h3>Term Info:</h3>
    <h4>Id: {{ course.term.id }}</h4>
    <h4>Name: {{ course.term.term_name }}</h4>
    <div class="buttons">
        <button><a href="{{ url_for('domains.get_domains') }}">Manage Domains</a></button>
        <button><a href="{{ url_for('course-elements.get_elements', course_id=course.id) }}">View Course Elements</a></button>
    </div>
</div>
{% endblock %}
