{% extends 'base.html' %}
{% block content %}
<div id="content_form">
    <h1>Competency: {{ competency.competency_name|safe }}</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Achievements</th>
            <th>Type</th>
        </tr>
        <tr>
            <td>{{ competency.id }}</td>
            <td>{{ competency.competency_achievement }}</td>
            <td>{{ competency.competency_type }}</td>
        </tr>
    </table>
    <h1>Elements</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Criteria</th>
        </tr>
        {% for element in elements %}
        <tr>
            <td>{{ element.id }}</td>
            <td>{{ element.element_name }}</td>
            <td>{{ element.element_criteria }}</td>
        </tr>
        {% endfor %}
    </table>

    <section class="add-form">
        <h1>Add an Element</h1>
        <form method="post">
            {{form.csrf_token}}
            {{ form.element_order.label }} {{ form.element_order() }}
            {{ form.element_name.label }} {{ form.element_name() }}
            {{ form.element_criteria.label }} {{ form.element_criteria() }}
            <input type="submit"/>
        </form>
    </section>

    <div class="buttons">
        <button><a href="{{ url_for('competencies.get_competencies') }}">Manage Competencies</a></button>
    </div>
</div>
{% endblock %}
