{% extends 'base.html' %}

{% block content %}
    <div class="wrapper">
        <div class="user-info">
            <h1>Your Profile</h1>
            <img src="{{ url_for('auth.show_avatar', email=current_user.email) }}" alt="Avatar" class="avatar">
            <p>User Name: {{ current_user.name }}</p>
            <p>Email: {{ current_user.email }}</p>
            {% if current_user.user_group == 'admin_gp' or current_user.user_group == 'admin_user_gp' %}
                <p>User group: {{ current_user.user_group }}</p>
            {% endif %}
            <a href="{{ url_for('auth.change_pass') }}">Change Password</a>
            <a href="{{ url_for('auth.edit_profile') }}">Edit Profile</a>
        </div>
    </div>
{% endblock %}
